# **Introdução**

In [ ]:
print ('Olá Mundo')

In [ ]:
mensagem = 'Olá Mundo'

In [ ]:
print (mensagem)

In [ ]:
nome = input ('Qual é o seu nome?')

In [ ]:
print ('Meu nome é:', nome)

# **Operadores Matemáticos**

In [ ]:
n1 = 7

In [ ]:
n2 = 2

In [ ]:
s = n1 + n2
print (s)

In [ ]:
s = s + n2
print (s)

In [ ]:
s += n2
print (s)

In [ ]:
sub = n1 - n2
sub

In [ ]:
mult = n1 * n2
mult

In [ ]:
div = n1 / n2
div

In [ ]:
pot = n1**n2
pot

In [ ]:
pot2 = pow (n1,n2)
pot2

In [ ]:
divi = n1 // n2
divi

In [ ]:
rest = n1 % n2
rest

# **Importações de bibliotecas (pacotes) e módulos**

In [ ]:
import numpy as np

https://numpy.org/devdocs/user/whatisnumpy.html

In [ ]:
# raiz_quadrada = sqrt (25)

In [ ]:
import math

https://docs.python.org/pt-br/3/library/math.html

In [ ]:
n = 18

In [ ]:
raiz = math.sqrt(n)
print ('A raiz de {} é igual a {:.2f}'.format (n, raiz))

In [ ]:
print(raiz)

In [ ]:
math.sqrt(18)

In [ ]:
print(f'A raiz quadrada de {n} é {raiz:.2f}')

In [ ]:
raiz2 = n ** 0.5
print (raiz2)

In [ ]:
print(f'{raiz2:.3f}')

In [ ]:
print ('{:.3f}'.format(raiz2))

In [ ]:
sqrt(36)

In [ ]:
from math import sqrt
raiz3 = sqrt(n)
print (f'{raiz3:.2f}')

In [ ]:
sqrt(36)

In [ ]:
from math import sqrt, factorial

In [ ]:
fat = factorial(5)    #fatorial: 4! = 4.3.2 = 24
                      #          5! = 5.4.3.2 = 120
fat

In [ ]:
factorial(8)

In [ ]:
fatorial_raiz = factorial(int(sqrt(16)))
fatorial_raiz

In [ ]:
fatorial_raiz = math.factorial(int(math.sqrt(16)))
fatorial_raiz

In [ ]:
import random
num = random.randint (1,10)
print (num)

In [ ]:
random.

https://docs.python.org/pt-br/3.7/library/random.html

In [ ]:
from random import random, randint

In [ ]:
random?

In [ ]:
num2 = random()
num2

In [ ]:
randint?

In [ ]:
randint(2,15)

# **Estrutura Condicional**

In [ ]:
nota = 7

In [ ]:
if nota >=  6:
  print('Aprovado')
else:
  print('Reprovado')

In [ ]:
if nota >= 6:
  print('Aprovado')
elif nota >= 5 and nota < 6:
  print('Recuperação')
else:
  print('Reprovado')

# **Estrutura de Repetição**

In [ ]:
for c in range(0,4):
  print (c)

In [ ]:
lista = [1, 2, 3, 4, 10]
for numero in lista:
  print(numero * 2)

In [ ]:
soma = 0
cont = 0
for c in range (1, 6):
  num = int(input('digite {}o valor: '.format(c)))
  if num % 2 == 0:
    soma = soma + num
    cont = cont + 1
print('Você informou {} números pares e a soma deles é igual a {}'.format(cont, soma))

In [ ]:
c = 1
while c <= 10:
  s = c + 10
  print(s)
  c = c + 1
print('Fim')

# **Listas, Tuplas e Dicionários**

## Listas

In [ ]:
num = [2, 5, 7, 9]

In [ ]:
num[3] = 4
num

In [ ]:
num.append(8)  # inclui o número 8
num

In [ ]:
num.sort()   # coloca em ordem crescente
num

In [ ]:
num.insert(2, 0)  # adiciona o zero na posição 2
num

In [ ]:
num.remove(7)  # remove o elemento 7
num

In [ ]:
num.pop(3)  # remove o elemento da posição 3
num

## Tuplas

In [ ]:
num2 = (2, 5, 7, 9)   #   TUPLA É IMUTÁVEL

In [ ]:
# num2.append(8)   # inclui o número 8
# num2

## Dicionários

In [ ]:
pessoas = {'nome': 'Furkan', 'sexo': 'masculino', 'idade': 46}
print (pessoas)

In [ ]:
pessoas['cor'] = 'gray'
print (pessoas)

In [ ]:
del pessoas['idade']
print(pessoas)

# **Funções**

In [ ]:
def identificacao(nome, idade):
  print('Olá,', nome,'\nVocê é jovem, tem apenas', idade)

In [ ]:
identificacao('Furkan', 46)

In [ ]:
def maior (x,y):
  if x < y:
    print ('O maior número é', y)
  elif x == y:
    print ('Os números são iguais')
  else:
    print ('O maior número é', x)

In [ ]:
maior (21,16)

In [ ]:
def pitagoras (cat1, cat2, hip):
  if hip == '?':
    hip = (cat1**2+cat2**2)**(1/2)
    print ('A hipotenusa é', hip)
  elif cat1 == '?':
    cat1 = (hip**2-cat2**2)**(1/2)
    print ('O cateto é', cat1)
  elif cat2 == '?':
    cat2 = (hip**2-cat1**2)**(1/2)
    print ('O cateto é', cat2)

In [ ]:
pitagoras (13,5,'?')

# **Função lambda e map**

## Forma simplificada de escrever funções

In [ ]:
def area_quadrado (L):
  area = L**2
  print(area)

In [ ]:
area_quadrado(4)

In [ ]:
area_quadrado2 = lambda x: x**2

In [ ]:
area_quadrado2(7)

In [ ]:
area_retangulo = lambda b, h: b*h

In [ ]:
area_retangulo(4,7)

In [ ]:
# Pode ser utilizada juntamente com outros métodos
L = [4,5,6,7,11,9,10]
areas = list(map(lambda x: x**2, L))
print(areas)

# **List Comprehensions**

## Otimiza a utilização de listas e diminui linhas de código

In [ ]:
lista = []
for valor in range(5):
  lista.append(valor+10)
print(lista)

In [ ]:
lista = [valor+10 for valor in range(5)]
print(lista)

In [ ]:
lista = []
for numero in range (1,30):
  if numero % 4 == 0:
    lista.append(numero)
print(lista)

In [ ]:
multiplos4 = [numero for numero in range(1,30) if numero % 4 == 0]
print(multiplos4)

In [ ]:
conceito = ['azul' if nota >= 6 else 'vermelha' for nota in range(1,11)]
print(conceito)

# **Vetores (arrays) e matrizes**

In [1]:
vetor = [2,4,5,6]

In [2]:
type(vetor)

list

In [4]:
matriz = [[1,2,3],
          [4,5,6],
          [7,8,9]]

In [5]:
type(matriz)

list

In [6]:
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
import numpy as np

In [4]:
vetor2 = np.array([1, -3, 4.2, 5])

In [5]:
type(vetor2)

numpy.ndarray

In [6]:
print(vetor2)

[ 1.  -3.   4.2  5. ]

In [7]:
matriz2 = np.ones((2,3))
matriz2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [8]:
type(matriz2)

numpy.ndarray

In [9]:
matriz3 = np.diag((2,4,6,8,10))
matriz3

array([[ 2,  0,  0,  0,  0],
       [ 0,  4,  0,  0,  0],
       [ 0,  0,  6,  0,  0],
       [ 0,  0,  0,  8,  0],
       [ 0,  0,  0,  0, 10]])

In [10]:
type(matriz3)

numpy.ndarray